{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
    <p class="title mode-{{mode}}">¿Realidad?</p>
    <p class="desc text-justify">
      La apagamos, le sacamos las pilas, y la mandamos a la basura junto con los restos de la decadencia humana.
      <br/>
      Somos <strong>burbujas controladas aisladas en forma de redes sociales.</strong>
      <br/>
      <br/>
      Vivimos en el reino de la <strong>mentira</strong>, inmersos en pantallas digitales que nos hipnotizan en el más profundo sueño conocido por el hombre.
    </p>
    <br/>
    <img src="{% static "puppet_image.webp" %}">
  </div>
  <div class="text-center">
    <p><a class="btn btn-success mode-{{mode}}" href="{% url 'story' 4 %}">NEXT</a></p>
  </div>
{% endblock %}

