{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
    <p class="title mode-{{mode}}">FSOCIETY</p>
    <p class="desc text-justify">
      Por años, hemos visto la corrupción global y el sacrificio de inocentes.
      En <strong>FSociety</strong>, hemos decidido <strong>intervenir.</strong>
    </p>
    <img style="margin: 3vw 0;" src="{% static "fsociety.png" %}">
    <p class="desc">
      Seremos <strong>implacables, despiadados,</strong>
      y no descansaremos hasta que <br/> <strong class="mode-{{mode}}">ECorp sea destruido.</strong>
    </p>
  </div>
  <div class="text-center">
    <p><a class="btn btn-success mode-{{mode}}" href="{% url 'story' 5 %}">NEXT</a></p>
  </div>
{% endblock %}

