{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
    <p class="title mode-{{mode}}">Welcome!</p>
    <p class="desc text-justify">
      De puta madre, tío! Os damos la bienvenida al grupo de los <strong>mejores fucking hackers en el mundo.</strong>
      <br/><br/>
      Pondremos en marcha el plan que han elaborado nuestros líderes
      <strong class="mode-{{mode}}"> Epsilon, Sigma y Omega</strong>
      para destrozar los productos de <strong>ECorp</strong> cuanto antes.
      <br/>
      <br/>
      Tendrás que descifrar mensajes ocultos y ejecutar algunos ataques para lograrlo.
    </p>
    <p>
      <br/>
      <strong>Es hora. ¡Espabila, coño!</strong>
    </p>
  </div>
  <div class="text-center">
    <p><a class="btn btn-success mode-{{mode}}" href="{% url 'story' 0 %}">START</a></p>
  </div>
{% endblock %}

