{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
    <p class="title mode-{{mode}}">Welcome!</p>
    <p class="desc text-justify">
      ¡Bienvenido al grupo de los <strong>mejores fucking hackers en el mundo!</strong>
      <br/><br/>
      Junto a los líderes
      <strong class="mode-{{mode}}">Epsilon, Sigma y Omega</strong>.
      trabajaréis para destrozar a <strong>ECorp</strong> descifrando mensajes ocultos y ejecutando ataques para derribarlos.
    </p>
    <p>
      <img style="margin: 3vw 0vw;" src="{% static "watch-dogs-legion.jpg" %}">
      <br/>
      <strong>Es hora. ¡Espabila, coño!</strong>
    </p>
  </div>
  <div class="text-center">
    <p><a class="btn btn-success mode-{{mode}}" href="{% url 'story' 0 %}">START</a></p>
  </div>
{% endblock %}

