{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
    <p class="title mode-{{mode}}">ECORP</p>
    <p class="desc text-justify">
      Esa es la debilidad que <strong>Evil Corp</strong> aprovechará con productos
      creados para <strong>controlar</strong> vuestras mentes y <strong>coaccionar</strong> vuestras decisiones.
    </p>
    <br/>
    <img src="{% static "ecorp.png" %}">
    <p class="desc">
    <br/>
      Ellos son una gran amenaza para el mundo... y por eso estamos acá.
    </p>
  </div>
  <div class="text-center">
    <p><a class="btn btn-success mode-{{mode}}" href="{% url 'story' 4 %}">NEXT</a></p>
  </div>
{% endblock %}

