{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
    <p class="title mode-{{mode}}">Bogotá, 2020</p>
    <p class="desc text-justify">
      Esta es una ciudad estupenda <strong>llena de corporaciones de mierda.</strong>
      Basta con que deis un vistazo alrededor!
      <br/>
      <br/>
      <strong>Es un planeta construído sobre la fantasía,</strong> con emociones sintéticas en forma de pastillas y
      una guerra psicológica en forma de publicidad. <strong>Somos burbujas aisladas controladas en forma de redes sociales...</strong>
      <br/>
    </p>
  </div>
  <div class="text-center">
    <p><a class="btn btn-success mode-{{mode}}" href="{% url 'story' 3 %}">NEXT</a></p>
  </div>
{% endblock %}

