{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
      <p class="title mode-{{mode}}">Eagle Eye</p>
      <p class="desc text-center">
          <img style="margin: 5vw 0;" src="{% static "p3_eagle_eye.png" %}">
      </p>
      <p class="desc text-justify">
          Proyecto secreto que controla dispositivos electrónicos para
          identificar amenazas a la seguridad nacional <strong>(a.k.a. <i>Control Total</i>)</strong>.
          <br/>
          <br/>
          <strong class="mode-{{mode}}"> Nuestra propia seguridad está comprometida.</strong>
          Un domicilio de Omega Restaurant podría daros inspiración para detener esta locura.
          <strong>Os recomendamos el arroz chino, el favorito de Trenton!</strong>
      </p>
  <br/>
{% endblock %}