{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
      <p class="title mode-{{mode}}">Sibyl system</p>
      <p class="desc text-justify">
          Presentado como solución a enfrentamientos violentos, <i>Sibyl</i> puede clasificar a las personas según
          su coeficiente criminal y alertar sobre los más peligrosos. ¿Su objetivo real?
          <strong class="mode-{{mode}}">Eliminar a los que levanten la voz en contra del sistema.</strong>
          <br/>
      </p>
      <p class="desc">
          <img src="{% static "p2_Sibyl_System.png" %}">
      </p>
      <p class="desc text-justify">
          Id con <strong>Romero</strong> y encargáos del malware para destruirlo.
      </p>
  <br/>
{% endblock %}

