{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
    <p class="title mode-{{mode}}">El espionaje de la NSA</p>
    <p class="desc text-justify">
        Como una broma de un niño adicto al <strong>Focusyn</strong>, el derribo de un satélite con los logos
        de la <font face="monospace">NLB/FCF</font> nos informó que ECorp <strong> manipulará</strong> a las personas
        y su pasión por los deportes para <strong class="mode-{{mode}}">espiarlas y recolectar datos</strong>.
        Id con <strong>Mobley</strong> y ayudadnos a hackear el satélite para obtener más información.
    </p>
    <img style="margin: 5vw 0;" src="{% static "p1_bart.jpg" %}">
  <br/>
{% endblock %}

