{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
      <p class="title mode-{{mode}}">TBD</p>
      <p class="desc text-justify">
          Las redes sociales lucen como un problema fuera de control e <strong class="mode-{{mode}}">ECorp</strong> lo sabe.
          Su nuevo <strong> implante ocular</strong> ha sido diseñado para <strong class="mode-{{mode}}"> controlar
          tu interacción con otras personas</strong> basados en sus redes sociales, permitiendo el bloqueo audiovisual
          y en consecuencia, invadiendo la seguridad de los ciudadanos.
          <br/>
          <br/>
          ¿Creéis que junto a Mobley podáis detenerlo? Queda poco tiempo...
      </p>
      <p class="desc text-center">
          <img style="margin: 5vw 0;" src="{% static "p4_tbd.png" %}">
      </p>
  <br/>
{% endblock %}