{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
      <p class="title mode-{{mode}}">Sibyl system</p>
      <p class="desc text-justify">
          Presentado como solución a enfrentamientos violentos, este sistema es capaz de clasificar a las personas según
          su coeficiente criminal y alertar sobre los más peligrosos. ¿Su objetivo real?
          <strong class="mode-{{mode}}">Eliminar a los que levanten la voz en contra del sistema.</strong>
          <br/>
      </p>
      <p class="desc">
          <img style="margin: 5vw 0;" src="{% static "p2_Sibyl_System.png" %}">
          <br/>
          <strong>Id con Romero y encargáos del malware para destruirlo.</strong>
      </p>
  <br/>
{% endblock %}

