{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="story text-center">
      <p class="title mode-{{mode}}">¿Y ahora?</p>
      <p class="desc text-justify">
          En la estación <strong class="mode-{{mode}}">Deep Web</strong>, os espera
          <strong>Cisco</strong> para impedir el lanzamiento del producto más peligroso,
          pues necesitaréis la ayuda de <strong>Dark Army</strong>.
      </p>
      <p class="desc text-justify">
          <br/>
          <strong class="mode-{{mode}}">¿Qué debéis hacer?</strong>
      </p>
      <p class="desc text-justify">
          <font face="monospace" size="14vw">
              Sumergíos en las profundidades de la <strong>Deep Web</strong> para buscar el
              <strong>backdoor key</strong> de su sistema de seguridad.
          </font>
      </p>
      <p class="desc text-justify">

          <br>
          ¡Joder! Qué saltéis a la piscina y busquéis el fucking bug cuyo interior tendrá la próxima pista.
      </p>
      <p><a id="btnGotIt" class="btn btn-success mode-{{mode}}" href="{% url 'game' %}">Got it!</a></p>
  <br/>
{% endblock %}