{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if user.is_authenticated %}
    {% if user.is_staff %}
      Setup Game
    {% else%}
    Hacker Setup
    {% endif %}
  {% else %}
    Login
  {% endif %}
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again. </p>
    {% endif %}
    {% if user.is_authenticated %}
      {% if user.is_staff %}
        {% if not already_started %}
          <p style="font-size: 20px; margin-bottom: 60px;"> This is your index page <span>admin</span> Your can start the game or go to Admin's Site for more actions. Enjoy the Hack!</p>
          <div >
          <div class="col-xs-12 text-center">
            <a style="text-align:center;" class="btn btn-success" href="{% url 'start' %}">Start Game!</a>
          </div>
        {% else %}
        <p style="font-size: 20px; margin-bottom: 60px;"> Go to Admin's Site for more actions. Enjoy the Hack!</p>
        {%endif%}
        <div class="col-xs-12 text-center">
          <p><a class="btn btn-primary" href="{% url 'admin:index' %}">Go to admin page</a></p></p>
        </div>
      {%else%}
        <div class="col-xs-12 text-center">
          <p>Please wait for leaders instructions</p>
          <br>
          <img src="https://i.pinimg.com/originals/e8/d5/a3/e8d5a3b3a383211eb74d02a26115defa.gif" %}">
          <br>
          <a class="btn btn-success mode-attack" href="{% url 'game' %}">Continue to Game</a>
        </div>
      {% endif %}
    {% else %}
        <p>Please Sign in to start the Hack!</p>
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="username">Username: </label></td>
                    <td><input id="username" type="text" name="username" value="{{ username }}"></td>
                </tr>
                <tr>
                    <td><label for="password">Password: </label></td>
                    <td><input id="password" type="password" name="password" value="{{ password }}"></td>
                </tr>
            </table>

            <input class="btn btn-success" style="background-color: none; border-color: greenyellow" type="submit" value="Sign In" />

        </form>
        <p><a href="{% url 'signup' %}">Don't you have an account?</a></p></p>
    {% endif %}
{% endblock %}
