{% extends "base.html" %}

{% block content %}
<div class="col-xs-12">
  <div class="text-center">
    <svg width="40vw" height="40vw" viewBox="0 0 16 16" class="bi bi-people-fill mode-{{mode}}" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
    </svg>
  </div>
  <p class="text-justify">
    <br/>
    <span class="mode-{{mode}}"><strong>Importante!</strong></span>
    <span style="font-size: 5vw;">
      Id de inmediato a la estación <strong class="mode-{{mode}}">FSociety</strong>
      porque debéis completar una misión de suma importancia.
      <strong class="mode-{{mode}}">Llevad la pista obtenida durante uno de los ataques.</strong>
      <br/>
      Podréis regresar al juego luego de completar la misión.
    </span>
  </p>
  <div class="text-center">
    <a class="btn btn-warning mode-mission" href="{% url 'game' %}">Back to the game</a>
  </div>
{% endblock %}
