{% extends "base.html" %}

{% block content %}
  <div class="puzzle">
      <p><strong>Técnica:</strong> {{ step.puzzle.puzzle_type }}</p>
      <p><strong>Tip:</strong> {{ step.puzzle.tip }}</p>
  </div>
  <br/>
  <div>
      <strong><label class="mode-{{mode}}">Mensaje</label></strong>
      <p class="puzzle-desc" style="">{{ step.puzzle.description }}</p>
  </div>
  <br>

  <form method="post" action="{% url 'game' %}">
     {% csrf_token %}
      <div class="form-group">
          <label class="mode-{{mode}}">Respuesta</label>
          <input type="text"  style="background-color: #0b0909; color: #7c7070"
                 class="form-control"
                 name="puzzle_answer"
                 value="{{ puzzle_answer }}"
                 id="puzzle_answer">
      </div>
      <br/>
      <div class="text-center">
        <input id="btnCheck" class="btn btn-danger mode-cypher" type="submit" value="Check" />
      </div>
  </form>
{% endblock %}
