{% extends "base.html" %}

{% block content %}
  <h2>Puzzle</h2>
  <p>Tipo: {{ step.puzzle.puzzle_type }}</p>
  <p>Descripcion: {{ step.puzzle.description }}</p>
  <br>
  <br>
  Resolve Puzzle (1 sola palabra):
  <form method="post" action="{% url 'game' %}">
     {% csrf_token %}
     <div class="form-group">
      <table>
          <tr>
              <td><label for="puzzle_answer">Respuesta: </label></td>
              <td>
                <input style="max-width: 500px" id="puzzle_answer"
                  type="text"
                  name="puzzle_answer"
                  value="{{ puzzle_answer }}">
              </td>
          </tr>
      </table>
      <div>
      <div class="text-center">
        <input class="btn btn-danger mode-cypher" type="submit" value="Check" />
      </div>
  </form>
{% endblock %}
