{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Usuario no válido. Intentad de nuevo.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <p>{{ user.username }} Ya habéis iniciado sesión
        <a href="{% url 'logout' %}">logout</a>

    {% else %}
        <p class="text-center">Crea una cuenta para jugar</p>
        <br/>
        <form method="post" action="{% url 'signup' %}">
          <div class="form-group">
            <label for="username">Usuario</label>
            <input id="username" type="text" name="username" value="{{ username }}">
          </div>
          <div class="form-group">
              <label for="password">Contraseña</label>
              <input id="password" type="password" name="password" value="{{ password }}">
          </div>
          <div class="form-group text-center">
              <input class="btn btn-success" type="submit" value="Crear cuenta" />
          </div>
        </form>
        <br/>
        <div class="text-center">
            <p><h1><a href="{% url 'index' %}">Iniciar sesión</a></h1></p>
        </div>
    {% endif %}
{% endblock %}
